/* =========================
   FLOAT ANIMATION
========================= */

@keyframes float {

    0%{
        transform:translateY(0px);
    }

    50%{
        transform:translateY(-20px);
    }

    100%{
        transform:translateY(0px);
    }

}

.hero-image img{

    animation:float 4s ease-in-out infinite;

}

/* =========================
   FADE UP
========================= */

@keyframes fadeUp {

    from{
        opacity:0;
        transform:translateY(50px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }

}

.hero-content{

    animation:fadeUp 1s ease;

}

/* =========================
   GLOW PULSE
========================= */

@keyframes glow {

    0%{
        box-shadow:0 0 10px #22c55e;
    }

    50%{
        box-shadow:0 0 30px #22c55e;
    }

    100%{
        box-shadow:0 0 10px #22c55e;
    }

}

.btn{

    animation:glow 2.5s infinite;

}

/* =========================
   CARD HOVER
========================= */

.service-card,
.project-card,
.contact-card,
.stat-box{

    transition:.4s;

}

.service-card:hover,
.project-card:hover,
.contact-card:hover,
.stat-box:hover{

    transform:translateY(-10px);

}

/* =========================
   GRADIENT BACKGROUND
========================= */

@keyframes gradientMove {

    0%{
        background-position:0% 50%;
    }

    50%{
        background-position:100% 50%;
    }

    100%{
        background-position:0% 50%;
    }

}

.hero{

    background:
    linear-gradient(
        -45deg,
        rgba(34,197,94,.04),
        rgba(16,185,129,.04),
        rgba(34,197,94,.02),
        rgba(16,185,129,.02)
    );

    background-size:400% 400%;

    animation:
    gradientMove 12s ease infinite;

}